@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif; }

.new-message {
  background-color: white; }

.new-message:after {
  content: " (new message)"; }

.current-chat {
  background-color: #E0F7FA !important; }

.sender {
  flex: 0 1 auto;
  padding-right: 10px; }

.contact {
  padding: 10px; }

.message {
  flex: 1 1 auto;
  vertical-align: top;
  word-break: break-all;
  word-wrap: break-word; }

.message-container {
  display: flex;
  padding: 5px;
  flex: 0 1 100%;
  max-width: 100%; }

textarea {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 5px; }

#wrapper {
  height: 100%;
  display: flex; }

#contact-list {
  flex: 0 0 30%;
  align-content: row;
  background-color: #B2EBF2;
  overflow: auto; }

#wrapper-right {
  display: flex;
  flex: 0 0 70%;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden; }

#text-log {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #E0F7FA;
  overflow-y: auto;
  padding-bottom: 10%;
  padding-top: 5px;
  padding-left: 10px;
  max-width: 100%; }

#input-area {
  display: none;
  flex: 1;
  padding: 2px;
  background-color: #FFFFFF; }
